*{
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

body{
  height: 100%;
  margin:  0px;
}

#telaPrincipal{
  background-image: linear-gradient(to left, dodgerblue, whitesmoke);
}

#icone {
  cursor: pointer;
  padding: 15px;
  position: absolute;
  z-index: 1;
}

#logo{
  height: 65%;
  width: 65%;
  padding-top: 7%;
  float: right;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  width: 60%;
  height: 80%;
  background: whitesmoke;
  border-radius: 20px;
}

.sobre{
  padding-top: 7px;
  padding-bottom: 5px;
  text-align: center;
}

.textoSobre{
  text-align: justify;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.desenvolvedores{
  text-align: justify;
  font-size: 20px;
  padding-top: 3px;
  padding-left: 70px;
  padding-right: 50px;
}

#check{
  display: none;
  background-color: #f00;
}

.barra{
  background-color: rgb(2, 96, 195);
  height: 100%;
  width: 300px;
  position: absolute;
  left: -300px;
  transition: all .2s linear;
}

.barra .link{
  list-style: none;
  background-color: rgb(0, 103, 243);
}

nav{
  width: 100%;
  position: absolute;
  top: 60px;
}

nav a{
  text-decoration: none;
}

.link{
  color: whitesmoke;
  font-family: 'Arial';
  font-size: 12pt;
  padding: 20px;
  border-bottom: 2px solid whitesmoke;
  transition:  all .2s linear;
  opacity: 0;
  margin-top: 200px;
}

k:hover{
  background-color: black;
}

#check:checked ~ .barra nav a .link{
    opacity: 1;
    margin-top: 0;
    transition-delay: .2s;
}

#check:checked ~ .barra{
  transform: translateX(300px);
}

#formulario{
  height: 100%;
  width: 30%;
  background-color: rgb(58, 134, 210);
  float: left;
}

#grid{
  height: 100%;
  width: 70%;
  /*background-image: linear-gradient(to bottom, dodgerblue, whitesmoke);*/
  float: right;
  padding-top: 20px;
  padding-left: 20px;
}

.mb-3{
  padding-top: 60px;
  padding-left: 50px;
}

#kpicod{
  width: 50%;
}

#kpidesc{
  width: 90%;
}

#kpipon{
  width: 50%;
}

#kpimeta{
  width: 50%;
}

#lbldesc{
  margin-top: 20px;
}

#lblpon{
  margin-top: 20px;
}

#lblnom{
  margin-top: 20px;
}

#lblcar{
  margin-top: 20px;
}

#lblsquad{
  margin-top: 20px;
}

#colcod{
  width: 50%;
}

#colnom{
  width: 90%;
}

#colcar{
  width: 90%;
}

#colsquad{
  width: 30%;
}

#squadnum{
  width: 50%;
}

#squadnom{
  width: 90%;
}

#sprint{
  width: 20%;
}

#lbpontuacao{
  width: 40%;
}

#sprintR{
  width: 40%;
}

#lblnom{
  margin-top: 20px;
}

#lblspr{
  margin-top: 20px;
}

.form-label{
  color: whitesmoke;
}

#lblmeta{
  margin-top: 20px;
}

#btlimpar{
  margin-left: 0%;
  margin-top: 20px;
}

#btconfirmar{
  margin-top: 20px;
}

#btUpdate{
  margin-left: 0%;
  margin-top: 20px;
}

thead{
  background-color: gray;
}

th{
  width: 200px;
  height: 60px; 
}

td{
  padding: 10px;
  border: solid;
  border-width: 1px;
}

tr{
  border: solid;
  border-width: 1px;
  text-align: center;
}